.business{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1700px;
    z-index: 1;
    padding:  0 250px;
    margin: 0;
}
.bu-button{
    width: 958px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
}
.bu-button li{
    width: 240px;
    height: 374px;
    float: left;
    margin-right: -1px;
    position: relative;
}
.businessli1{
    background: url(../../../public/business/brand1.png);
}
.businessli1 a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.businessli1::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../../../public/business/brand1_on.png) no-repeat;
    opacity: 0;
    transition: .6s;
}
.businessli1:hover::after{
    opacity:1;
}

.businessli2{
    background: url(../../../public/business/brand2.png);
}
.businessli2 a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.businessli2::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../../../public/business/brand2_on.png) no-repeat;
    opacity: 0;
    transition: .6s;
}
.businessli2:hover::after{
    opacity:1;
}

.businessli3{
    background: url(../../../public/business/brand3.png);
}
.businessli3 a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.businessli3::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../../../public/business/brand3_on.png) no-repeat;
    opacity: 0;
    transition: .6s;
}
.businessli3:hover::after{
    opacity:1;
}


.businessli4{
    background: url(../../../public/business/brand4.png);
}
.businessli4 a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.businessli4::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../../../public/business/brand4_on.png) no-repeat;
    opacity: 0;
    transition: .6s;
}
.businessli4:hover::after{
    opacity:1;
}
